services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - bigdata-network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - bigdata-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - bigdata-network


  kafka-producer:
    build: ./kafka-producer
    container_name: kafka-producer
    depends_on:
      - db
      - kafka-ui
      - nifi
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - bigdata-network

  db:
    image: postgres:15
    container_name: highload_db
    environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: highload
     POSTGRES_DB: highload_db
     PGDATA: "/var/lib/postgresql/data/pgdata"
    healthcheck:
     test: [ "CMD-SHELL", "pg_isready -U postgres" ]
     interval: 5s
     timeout: 5s
     retries: 5
    volumes:
     - postgresdata:/var/lib/postgresql/data
     - ./init:/docker-entrypoint-initdb.d
    ports:
     - 5432:5432
    networks:
     - bigdata-network

  nifi:
    image: apache/nifi:latest
    container_name: nifi
    ports:
      - "8443:8443"   # HTTPS UI
      - "8081:8080"   # HTTP UI
    environment:
      - NIFI_WEB_HTTP_HOST=0.0.0.0
      - NIFI_WEB_HTTP_PORT=8080
      - NIFI_WEB_HTTPS_HOST=0.0.0.0
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=ctsBtRBKHRAx69EqUghvvgEvjnaLjFEB
    volumes:
#      - ./nifi-current:/opt/nifi/nifi-current
      - nifi_data:/opt/nifi/nifi-current
      - ./postgresql-42.7.8.jar:/opt/nifi/nifi-current/lib/postgresql-42.7.8.jar
    networks:
      - bigdata-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/nifi-api" ]
      interval: 10s
      timeout: 10s
      retries: 3


  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    ports:
      - "3000:3000"
    volumes:
      - metabase-data:/metabase-data
    networks:
      - bigdata-network

volumes:
  metabase-data:
  nifi_data:
  postgresdata:
  kafka_volume1:
  kafka_volume2:

networks:
  bigdata-network:
    driver: bridge
  